[Unit]
Description=Redis Exporter for Redis node 7002
After=network.target, network-online.target

[Service]
User=nobody
ExecStart=/usr/local/bin/redis_exporter \
  --redis.addr redis://127.0.0.1:7002 \
  --web.listen-address :8002

Restart=always

[Install]
WantedBy=multi-user.target
